@font-face{
  font-family:'vazir-medium';
  font-style: normal;
  font-display: swap;
  src:url('./assets/fonts/Vazir-Medium.ttf')
}

:root {
  --light-blue: #3671E9;
}

body {
  margin: 0;
  font-family: vazir-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D0D2B !important;
  height: 100vh;
  color: #fff;
}

.app {
  height: 100vh;
}

 /* public classes */

.mr-auto {
  margin-right: auto;
}
.w100 {
  width: 100%;
}
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}

/* styles */

h1, h2, h3, h4, h5 , h5, p {
  color: #fff !important;
  margin: 0 !important;
  font-family: vazir-medium;
}

.navbar {
  background-color: transparent !important;
}
.navbar a {
  color: #fff !important;
}
.navbar-toggler-icon {
  background-color: #fff !important;
  padding: 15px;
  border-radius: 5px;
}

.banner {
  /* height: 100vh; */
  margin-bottom: 100px;
  margin-top: 60px;
}
.content-col h1 {
  font-size: calc(25px + 23 * (100vw - 360px) / 920);
}
.content-col > p {
  font-size: calc(10px + 6 * (100vw - 360px) / 920);
  opacity: .6;
}
.try-for-free-btn {
  width: 202px;
  height: 64px;
  border-radius: 150px;
  background: var(--light-blue);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  cursor: pointer;
}
.try-for-free-btn div {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  background: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}


.coin-list {
  padding-bottom: 250px;
  /* max-width: 80%; */
  margin: auto;
}
.coin-list .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  background: #fff;
  color: var(--light-blue) !important;
}
.coin-list p:first-child {
  opacity: .7;
  font-size: .9rem;
}

.coin-name, .coin-name-th {
  flex-basis: 30%
}
.coin-price, .coin-swing, .bs-btn-text,
.coin-price-th, .coin-swing-th{
  flex-basis: 23%;
}

.coin-name, .coin-swing, .bs-btn-text, .coin-price,
.coin-name-th p, .coin-price-th p, .coin-swing-th p {
  color: #0D0D2B !important;
  font-size: calc(12px + 2 * (100vw - 360px) / 920) !important;
}

.body tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px ;
}
.body tr:nth-child(even) {
  background: #fff;
}
.body tr:nth-child(odd) {
  background: whitesmoke;
}
.body tr:last-child {
  border-radius: 0 0 8px 8px;
}
.bs-btn-th {
  width: 100px !important;
  height: 45px;
  background: var(--light-blue);
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  cursor: pointer;
}


.trade {
  padding-bottom: 100px;
}
.dropdown {
  width: 180px !important;
}

.c-card {
  /* background-color: #fff; */
  max-width: 450px;
  box-shadow: rgba(255, 255, 255, .2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 240px !important;
  border-radius: 0 25px 0 25px !important;
  padding: 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-primary {
  width: 100% !important;
  align-self: flex-end;
}

.more-coins {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.d-container p:nth-child(odd) {
  font-size: .8rem;
  opacity: .8;
}

.footer {
  padding: 20px;
  height: 50px;
}
.footer, .footer-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer p {
  font-size: .8rem;
  opacity: .7;
}
.footer-media svg {
  color: #fff;
  margin: 0 10px;
}


@media (max-width: 600px) {
  .display-none-sm-and-down {
    display: none !important;
  }
}
